@model ArticleBody
@{
    Layout = "";
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/Content/editormd/css/editormd.min.css" />
    <style>
        html {
            width: 100%;
        }

            html img {
                max-width: 700px;
                max-height: 1200px;
            }

        .editormd-html-preview, .editormd-preview-container {
            font-size: 16px;
        }
    </style>
</head>

<body>
    <div id="simplepdf" style="margin:0 auto;width:700px" class="markdown-body editormd-html-preview">
        <h1>
            @Model.ArticleInfo.Title
        </h1>
        <h5 style="float:right">
            文章作者：@Model.AuthorInfo.NickName 
			<br />发布时间： @Model.ArticleInfo.ConfirmDateTime
			<br />修改时间：@Model.ArticleInfo.UpdateDateTime
        </h5>
        <br /><br />
        @MvcHtmlString.Create(ViewBag.Html)
    </div>
</body>

</html>
