@if (Session[ConstHelper.Session_USERID] != null)
{
    string accountid = Session[ConstHelper.Session_USERID].ToString();
    <div class="btn-group" role="group" aria-label="..." style="margin:10px;">
        <a href="/Author/SiteMessageList?PageNo=1" class="btn btn-primary">
            站内消息列表
        </a>
        <a href="/Author/Setting" class="btn btn-primary">
            个人设定
        </a>
        <a href="/Author/StockPage?PageNo=1" class="btn btn-primary">
            收藏文章列表
        </a>
        @if (Topic.IsExistTopic(accountid))
        {
            <a href="/Author/ManagerTopic?PageNo=1" class="btn-primary btn">管理专题</a>
            <a href="/Author/CreateTopic" class="btn-primary btn">修改专题</a>
        }
        else
        {
            <a href="/Author/CreateTopic" class="btn-primary btn">新建专题</a>
        }
    </div>
}
