<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="5.2.0" targetFramework="net451" requireReinstallation="true" />
  <package id="FreeSpire.PDF" version="3.2" targetFramework="net451" />
  <package id="Microsoft.Net.Compilers" version="2.0.0-beta1" targetFramework="net451" developmentDependency="true" />
  <package id="mongocsharpdriver" version="2.4.3" targetFramework="net47" />
  <package id="MongoDB.Bson" version="2.4.3" targetFramework="net47" />
  <package id="MongoDB.Driver" version="2.4.3" targetFramework="net47" />
  <package id="MongoDB.Driver.Core" version="2.4.3" targetFramework="net47" />
  <package id="NEST" version="5.2.0" targetFramework="net451" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net451" />
</packages>