<div style="width:800px;margin:auto">
    <div class="btn-group" role="group" aria-label="..." style="margin:10px;">
        <a href="/Admin/Index" class="btn btn-primary">
            审核首页
        </a>
        <a href="/Admin/ArticleList" class="btn btn-primary">
            文章列表
        </a>
        <a href="/Admin/AuthorList" class="btn btn-primary">
            用户列表
        </a>
        <a href="/Admin/ExceptionLogIndex" class="btn btn-primary">
            异常日志
        </a>
        <a href="/Admin/ImportTag" class="btn btn-primary">
            标签导入
        </a>
        <a href="/Admin/ReIndexTextSearch" class="btn btn-danger">
            重新索引数据
        </a>
        <a href="/Admin/RefreshAllFirstPagePDF" class="btn btn-danger">
            重新生成首页的PDF文件
        </a>
    </div>
</div>
<br />
